.contacts{
    position:absolute;
    bottom:-286%;
    text-align: center;
    color: #212e21;
    font-weight:650;
    text-transform:uppercase;
    margin-left:569px;
}

.contacts h2{
    color:#03133e;
    font-size:33px;
    text-transform:none;
    margin-top:5px;
}

.contacts p{
    color:#1673a2;
    font-size: 15px;
}

.contact{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:95px auto;
    max-width:91%;
}

.contact-col{
    flex-basis: 48%;
    color: #676766;
}

.contact-col h3{
    color:#000f38;
    display:flex;
    align-items:center;
    margin-bottom:25px;
    font-size:25px;
    font-weight:540;
}

.contact-col h3 img{
    width: 39px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    line-height:1.1;
}

.contact-col ul li{
    display:flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 11px;
}

.contact form input, .contact form textarea{
    display:block;
    width: 100%;
    background:#EBECFE;
    padding: 15px;
    border:0;
    outline: 0;
    margin-bottom:15px;
    margin-top:6px;
    resize:none;
    color:#000;
}

.contact-col span{
    display:block;
    margin:20px 0;
}

@media (max-width: 850px){
    .contact{
        display:block;
    }
    .contact-col{
        padding: 20px;
    }
}